/* Added style.css link in the index.html */
body {
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  text-align: center;
  margin: auto 0;
}
/* Removed text decorationon h4. */
/* Added text decoration styling to h4 section. */
section {
  text-decoration-line: underline;
}
h4 {
  font-size: large;
}
